/04022022test.py
/COURS_DE_PYTHON.pdf
/demo_f_strings.py
/exercices.zip
/exercices_print.py
/exercices_types.py
/exercices_variables.py
/Introduction_a_python_3.pdf
/intro_python_web.pdf
/les13exercices.py
/projet_1.pdf
/test.py